.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f0fff0;
}
.major-project-title {
  font-style: italic;
  font-weight: bolder;
  font-family: lobster;
  animation: zoomInOut 2s infinite;
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .projects {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.link {
  text-decoration: none;
  color: black;
}
.project-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}
@media screen and (min-width: 768px) {
  .project-container {
    width: 350px;
    height: 400px;
  }
}

@media screen and (min-width: 996px) {
  .project-container {
    width: 450px;
    height: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .project-container {
    width: 500px;
    height: 530px;
  }
}

.project-title {
  text-align: center;
  font-style: italic;
}

.jobby-img {
  width: 80%;
  transition: transform 0.3s ease;
  border-radius: 5px;
}
.jobby-img:hover {
  transform: scale(1.2);
  margin-top: 50px;
}
.minor-btn-container {
  text-decoration: none;
}
.minor-projects-btn {
  height: 50px;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ff8c00;
  font-style: italic;
  font-weight: bold;
  margin: 15px;
}
.minor-projects-btn:hover {
  background-image: linear-gradient(
    -225deg,
    #473b7b 0%,
    #3584a7 51%,
    #30d2be 100%
  );
}
