@keyframes zoomInOut {
  0% {
    transform: scale(1);
    color: black;
  }

  50% {
    transform: scale(0.9);
    color: #008b8b;
  }

  100% {
    transform: scale(1);
    color: black;
  }
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f0fff0;
  min-height: 100vh;
  padding: 5px;
}
.home-content {
  display: flex;
  width: 100%;
  border-radius: 5px;
  flex-direction: column;
  background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
}
@media screen and (min-width: 768px) {
  .home-content {
    width: 99%;
    border: 1px solid;
    border-radius: 5px;
    margin: 10px;
    padding: 50px;

    flex-direction: row;
    justify-content: space-between;
  }
}
.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f0fff0;
}
@media screen and (min-width: 768px) {
  .content {
    border: 2px solid #4682b4;
    border-radius: 5px;
    padding: 15px;
  }
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile-img {
  width: 200px;
  border-radius: 150px;
  margin: 10px;
}
.typed-title {
  height: 10px;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
  color: white;
  margin-top: 25px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}
.skills-title {
  font-style: italic;
  font-weight: bolder;
  animation: zoomInOut 2s infinite;
}
.skill-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.skill-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.skill-icons {
  font-size: 22px;
  /* animation: zoomInOut 2s infinite; */
}
.skill-item {
  font-style: italic;
  font-weight: bolder;
  margin-left: 5px;
  margin-right: 10px;
}
.navigation-links-container {
  border: 1px solid;
  border-radius: 5px;
  margin: 5px;
  margin-top: 10px;
}
.navigate-icons {
  font-size: 22px;
  color: black;
}

.link-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  border: 1px solid;
  border-radius: 5px;
  height: 40px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}
.link-btn-container:hover {
  background-color: #ff4500;
}
.link-btn {
  border: none;
  font-style: italic;
  cursor: pointer;
  /* color: #ff4500; */
  font-weight: bold;
  /* width: 100%; */
  background-color: transparent;
}

.link-btn:hover {
  color: white;
  background-color: #ff4500;
}
